.app {
    height: 40px;
}

nav {
    background-color: rgb(25, 45, 75);
}

.img {
    background: url('https://images.unsplash.com/photo-1597839219216-a773cb2473e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center center/cover;
    background-attachment: fixed;
    height: 700px;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16%;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 46%;
    padding: 20px;
    background-color: #ffffff7b;
    margin-top: 25px;
    width: 150px;
    border-radius: 13px;
}

.a a {
    font-weight: 300;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a:hover {
    background-color: #ffffff;
}

.con {
    display: flex;
    margin: 7%;
    margin-left: 17%;
}

img {
    width: 400px;
    /* Définir la largeur de l'image à 200 pixels */
    height: 280px;
    /* Définir la hauteur de l'image à 150 pixels */
    border-radius: 1%;
    padding-right: 25px;
}

.para {
    width: 45%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.para h2 {
    color: rgb(25, 45, 75);
    font-weight: 1000;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
}

.p1 {
    padding-left: 40px;
    margin-top: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.p2 {
    padding-left: 40px;
    margin-top: 10px;
    font-weight: 450;
    margin-bottom: 25px;
}

.p3 {
    margin-left: 40px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(25, 45, 75);
    border-radius: 3px;
}

.p3:hover {
    color: #ffffff;
}

.xxxx {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    margin-left: 4%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: 100px;
    font-weight: 600;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        color: red;
    }
    5% {
        color: rgb(255, 255, 255);
    }
    10% {
        color: rgb(0, 206, 247);
    }
    25% {
        -color: yellow;
    }
    50% {
        -color: blue;
    }
    75% {
        -color: rgb(239, 0, 248);
    }
    100% {
        : green;
    }
}

.list {
    display: flex;
    color: #ffffff;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-left: 6.8%;
}

.footer {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgb(25, 45, 75);
}

.categorie {
    height: 250px;
    width: 100%;
    background-color: rgb(25, 45, 75);
}

.titre {
    color: rgba(225, 228, 231, 0.771);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.span {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    word-spacing: 55px;
    font-size: 1.5rem;
    font-weight: 600;
}

.recet {
    margin-top: -110px;
    width: 90%;
    margin-left: 7%;
    margin-bottom: 130px;
}

.recet h1 {
    color: black;
    font-size: 2.7rem;
    font-weight: 800;
}

.recet h3 {
    color: rgb(59, 58, 58);
    word-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 35px;
}

.p11 {
    display: flex;
    width: 300px;
    margin-left: 45px;
    margin-top: 10px;
    word-spacing: 15px;
    padding: 3px;
    ;
}

.p11 span {
    padding: 3px;
    font-weight: 600;
}

.non {
    color: rgba(0, 0, 0, 0.545);
    font-weight: 700;
}

.postss {
    color: rgba(25, 45, 75, 0.908);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    margin-top: -9%;
}

.addbtn {
    text-decoration: none;
    color: aliceblue;
    background-color: rgba(25, 45, 75, 0.908);
    padding: 10px;
    margin-left: 250px;
    border-radius: 5px;
}

.addbtn:hover {
    color: aliceblue;
    text-decoration: none;
}